@import "./variables.scss";


button, input {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  cursor: inherit;
}


a{
  color:white;
}


.btn {
  background: $color-background-light;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  flex-wrap: wrap;
  padding: 5px;
  transition: fill 0.2s;

  cursor: pointer;


  &:hover, &:focus{
    background-color: $color-background-lighter;
  }

  &[selected] {
    background-color: $color-primary;

    &:hover, &:focus {
      background-color: $color-primary-light;
    }
  }

  &.btn-primary {
    background-color: $color-primary;

    &:hover:not([disabled]){
      background-color: $color-primary-light;
    }
  }

  &.btn-secondary {
    background-color: $color-primary-light;

    &:hover:not([disabled]){
      background-color: $color-secondary;
    }
  }

  &.btn-danger {
    background-color: $color-danger;
    color: white;

    &:hover{
      background-color: lighten($color-danger, 7%);
    }    
  }

  @at-root a#{&} {
    text-decoration: none;
    padding: 8px;
    white-space:nowrap;
  }

  & > .btn-text {
    margin: 3px;
    white-space: nowrap;
  }

  & > .ui-icon {
    margin: 3px;
    height: 1.3em;
    fill: currentColor;
    svg{
      height: 1.2rem;
    }
  }

  & > .btn-caret-down {
    margin: 3px;
  }

  &[disabled]{
    user-select: none;
    pointer-events: none;
  }
  &[transparent]{
    background: transparent;
    color: $color-light;
    &:hover{
      color: $color-background-lighter;
    }
  }
}
