@import "./variables.scss";

@import "./normalize.scss";

@import "./buttons.scss";
@import "./forms.scss";

.tooltip{
  div{
    display: none;
  }
  &.visible{
    div{
      display: block;
    }
  }
}

.text-info {
  color: $color-info;
}
.text-success {
  color: $color-success; 
}
.text-warning{
  color: $color-warning; 
}
.text-error {
  color: $color-error; 
}