@import "./variables.scss";


html {
  color: $color-text;
}


main{
  position: relative;
  max-width: var(--col-width);
  margin: auto;

  color: $color-light;
  min-height: calc(100vh - var(--nav-height) * 2);
  padding-top: .67em;
  
  h1{
    color: $color-primary-light;
  }
}


.section{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: $color-dark 1px solid;
  padding: 1rem;
  margin-bottom: 1rem;
  h3{
    margin-top: 0;
  }
}

corpus-list, home-page {
  display: block;
  padding: 1rem;
  .list-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .drag-overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    border: 2px dotted $color-secondary;
    border-radius: 4px;
    pointer-events: none;
  }
}

home-page{
  .list-tasks{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    .ui-button{
      flex: 0 0 auto;
    }
  }
}

corpus-list{
  display:flex;
  gap: 10px;
  .list-tasks{
    padding: 0.5rem;
    width: 300px;
  }
  .toolbar, .list-items{
    height: fit-content;
  }

  .list-items{
    width: 100%;
  }

  @media (max-width: 1024px){
    flex-direction: column;
    .list-tasks{
      width: 100%;
    }    
  }
}


scene-card{
  &.card-grid{
    padding: 0.5rem;

    @media (min-width: 576px){
      width: calc(100% / 2);
    }
    @media (min-width: 992px){
      width: calc(100% / 3);
    }
    @media (min-width: 1200px){
      width: calc(100% / 4);
    }
  }

  &.card-list{
    padding: 0.2rem;
  }
}

.list-items{
  
  .list-item, .list-header{
      display: flex; 
      flex: 1 1 auto;
      gap: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      background: #000;
      padding: 1rem;
      border-bottom: 1px solid $color-dark;
      text-decoration: none;
      &:hover{
        background: #071922
      }
  }

  .list-header{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.2rem 1rem 0.8rem 1rem;
    border-bottom: 2px solid $color-dark;
  }

  .list-item:nth-child(2n){
    background: #000;
    &:hover{
      background: #071922
    }
  }
}

.users-list{
  .ui-button:hover{
    filter:brightness(1.5);
  }
  .ui-icon svg{
    height: 1.2rem;
  }
}

footer{
  color: $color-light;
  height: 44px;
  background-color: $color-dark;
  display:flex;
}

.notification {
  position: relative;
  left: 0;
  margin: 8px;
  background: $color-background-light;
  color: $color-light;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: stretch;
  align-items: center;

  .ui-icon {
    flex: 0 0 auto;
    height: 2em;
    width: 2em;
    padding: 8px; 
  }

  &.notification-info > .ui-icon {
    fill: $color-info;
  }
  &.notification-success > .ui-icon {
    fill: $color-success; 
  }
  &.notification-warning > .ui-icon {
    fill: $color-warning; 
  }
  &.notification-error > .ui-icon {
    fill: $color-error; 
  }
  
  .notification-message {
    flex: 1 1 100%;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .notification-close {
    flex: 0;
    padding: 4px 6px 6px 6px;
    font-weight: bolder;
    color: $color-text-dark;
    line-height: 1;
    font-size: 1.5em;
    cursor: pointer;
  }
  &.fade{
    transition: transform 0.5s ease-in;
    transform: translateX(100%);
  }
}
