


nav.navbar-nav {
  --border-height: 3px;
  width:100%;
  height: var(--nav-height);
  box-sizing: border-box;
  display: flex;
  justify-content:center;
  z-index: 1001;

  background-color: var(--color-section);
  border-bottom: 3px solid var(--color-element);

  .nav-content{
    flex: 1 1 auto;
    max-width: var(--col-width);
    height: var(--nav-height);
    display:flex;
    justify-content: space-between;
  }

  .spacer{
    flex: 1 1 auto;
  }

  .divider{
    width: 1px;
    height: calc(100% - var(--border-height));
    background-color: var(--color-dark);
  }


  .logo {
    display: block;
    font-size: 1.1em;
    color: var(--color-secondary);
    font-family: var(--font-heading);
    font-weight: 400;
    text-decoration: none;
    img{
      height: 100%;
      width: auto;
      display: block;
    
    }
  }
  .logo:hover {
    filter: opacity(80%);
  }
  
  .brand{

  }
}

nav{

  .navbar{
    display: flex;
    align-items: stretch;
    flex-basis: auto;
    justify-content: end;
    align-items: center;
    .btn, .nav-link, .form-item{
      height:100%;
      flex: 0 0 auto;
      box-sizing: border-box;
      background-color: transparent;
      font-size: 13px;
      color: var(--color-text);
    }
    .btn{
      padding: 4px 10px !important;
    }
  }
  
  .nav-text, .nav-text-list{
    align-self: center;
    padding: .3rem 1ch;
    a:hover{
      color: var(--color-secondary-light);
    }
  }

  .nav-text-list{
    > .nav-text{
      padding: 0;
      white-space: nowrap;
      &:not(:first-child):not(:empty)::before{
        content: "— ";
      }
    }
  }

  .nav-link{
    position: relative;
    flex-wrap: wrap;
    height:100%;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    box-sizing: border-box;
    @media screen and (min-width: 576px){
      padding: 4px 10px;
    }
    
    margin: 3px;
    border-bottom: var(--border-height) solid transparent;
    font-size: 13px;
    transition: border 0.2s ease 0s;

    color: inherit;


    svg { fill: currentColor; }
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus{
      color: white;
      background-color: var(--color-highlight2);
    }
  
    &.active {
      border-bottom: 3px solid var(--color-primary);
      &:hover, &:focus {
        border-bottom: 3px solid var(--color-primary-lighter);
      }
    }
  }
  .form-control{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: stretch;
  }
  .form-item.nav-input{
    flex: 1 1 auto;
    color: white;
    min-width: var(--nav-height);
    >input{
      width:100%;
      background: none;
      background: var(--color-highlight);
      border: 1px solid var(--color-highlight2);
      border-radius: 4px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }


  .nav-end{
    justify-self: flex-end;
  }

}


/* Specific rules for the main layout navbar */
#main-navbar{
  --nav-z-index: 10; //base z-index for the navbar
  z-index: var(--nav-z-index);


  #main-navbar-collapse-toggle{
    display: none;
  }
  /* Collapse when small*/
  @media screen and (max-width: 576px){
    #main-navbar-links{
      display: none;

      &:popover-open{
        position: fixed;
        z-index: var(--nav-z-index);
        inset: var(--nav-height) .25rem auto .25rem;

        padding: var(--grid-gap);
        display: flex;
        flex-direction: column;
        align-items: stretch;

        background: var(--color-section);
        box-shadow: 0 2px 2px rgba(20, 20, 20, 0.3);
        border: 1px solid var(--color-highlight);


        .nav-link{
          justify-content: center;
          padding: var(--grid-gap);
        }

      }
    }
    #main-navbar-collapse-toggle{
      display: flex;
      min-width: auto;
    }
  }

  //Override popover styles on larger screens
  #main-navbar-links{
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    margin: 0;
    padding: 4px;
    height: auto;
    width: auto;
    border: none;
    color: currentColor;
    background: none;

    /* the main collection of links that should collapse on smaller screens*/
  }
  &:has(#main-navbar-links:popover-open) .if-collapsed,
  &:has(#main-navbar-links:not(:popover-open)) .if-expanded{
    display: none;
  }
}

.tabs-main{
  display:flex;
  gap: 15px;
  padding: 1rem;
  align-items: start;
  > nav{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    margin-top: 75px;
    > .nav-link{
      font-size: 1rem;
      text-align: left;
      min-width:200px;
      flex-wrap: nowrap;
      svg{
        fill: white;
        padding-right: 2px;
      }
      ui-icon{
        width: 1.5rem !important;
        height: 1.5rem !important;
      }
    }
  }
  > section{
    width:100%;
  }
}

@media (max-width: 1024px){
  .tabs-main{
    flex-direction: column;
    nav{
      flex-direction: row;
      flex-wrap: wrap;
      align-self: stretch;
      justify-content: center;
      margin-top:0;
    }

  }
}