// See /dist/css/globals.css for a list of all customizable variables

// Noto Serif (SIL OFL 1.1), self-hosted instead of hot-linked from Google
// Fonts (no third-party request, no visitor IP leak — see assets/fonts/LICENSE).
// Latin + Latin-Extended cover the en/fr/es UI; the unicode-range keeps
// latin-ext lazy. woff2 files are emitted to /dist/fonts by webpack.
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/NotoSerif-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/NotoSerif-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
:root{
  --nav-height: 44px;
  --col-width: 992px;
  --toolbars-width: 300px;
  --content-width: calc(var(--col-width) + 2 * var(--toolbars-width));
  --grid-gap: 0 3rem;

  //--color-primary: #E6B900;
  --color-primary-light: color-mix(in oklch, var(--color-primary), white 30%);
  --color-primary-lighter: color-mix(in oklch, var(--color-primary), white 50%);

  //--color-secondary: #4735df;
  --color-secondary-light: color-mix(in oklch, var(--color-secondary), white 30%);


  --color-dark: #343434;
  --color-light: #eee;

  --color-text: var(--color-light);
  /* Main (body) background color */
  --color-background:  var(--color-dark);

  /* Background color for "section" elements.
    (large page chunks that may contain some number of items).
    designed to stand out over --color-background 
  */
  --color-section: rgba(0, 0, 0, 0.15);

  /* Background color for "block elements", like  cards, navbars, modals... */
  --color-element: rgba(0, 0, 0, 0.15);


  --color-hover: color-mix(in oklch, var(--color-primary), black 20%);

  /* Main Color for elements designed to stand out in a section, like action buttons.  */
  --color-highlight: color-mix(in oklch, color-mix(in srgb, white 10%, black), var(--color-secondary) 8%);

  /* Additional highlight color, primarily for hover effects */
  --color-highlight2: color-mix(in srgb, white 37%, black);

  --color-info: #73adff;
  --color-success: #8ae65c;
  --color-warning: #e6a345;
  --color-error: #e64545;
  
  --font-body: 'Open Sans', 'Liberation Sans', 'Roboto', sans-serif;
  --font-heading: 'Noto Serif', serif;
}