// See /dist/css/globals.css for a list of all customizable variables

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
html:root {
  --font-body: 'Open Sans', 'Liberation Sans', 'Roboto', 'sans-serif';
  --font-heading: 'Noto Serif', 'serif';
}


@import "./dialog.scss";