

:host(corpus-navbar) {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  
  display: flex;
  align-items: baseline;
  justify-content: center;

  background-color: var(--color-section);
  border-bottom: 3px solid var(--color-element);
}

nav {
  max-width: var(--col-width);
  width:100%;
  height: var(--nav-height);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  .spacer{
    flex: 1 1 auto;
  }
  .divider, ::slotted(.divider){
    width: 1px;
    background-color: var(--color-dark);
  }
  .brand {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.1em;
    color: var(--color-secondary);
    font-family: var(--font-heading);
    font-weight: 400;
    text-decoration: none;
    img{
      height: 100%;
      width: auto;
      display: block;
    
    }
  }
  .brand:hover {
    filter: opacity(80%);
  }
  .navbar{
    display: flex;
    align-items: stretch;
    flex-basis: auto;
    justify-content: end;
    ::slotted(.btn), ::slotted(.nav-link){
      height:100%;
      flex: 0 0 auto;
      box-sizing: border-box;
      background-color: transparent;
      font-size: 13px;
      color: var(--color-text);
    }
    ::slotted(.btn){
      padding: 4px 10px !important;
    }
  }
}

:host(.nav-link){
  position: relative;
  flex-wrap: wrap;
  color: inherit;
  font-size: 13px;
  
  slot{
    padding: 5px;
    margin: 3px;
    white-space: nowrap;
  }

  > a {
    color: inherit;
    font-size: inherit;
    border-bottom: 3px solid transparent;
    transition: border 0.2s ease 0s;
    svg { fill: currentColor; }

    &:hover, &:focus{
      color: white;
      background-color: var(--color-highlight2);
    }
  
    &.selected {
      border-bottom: 3px solid var(--color-primary);
      &:hover, &:focus {
        border-bottom: 3px solid var(--color-primary-lighter);
      }
    }

    cursor: pointer;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 4px 10px;
    white-space:nowrap;
  }
}