{%- comment -%} 
  output nothing when no alt page is available.
  Relies on default layout assigning the "alt" variable
  Could use a plugin like on holusion.com
{%- endcomment -%}

{% if  alt %}
<div class="{{include.type}}" >
  <a href="#" class="dropdown-toggle {{include.classes}} hidden" data-bs-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
    {{page.lang}}
    <span class="caret"></span>
    <span class="hidden">(change language)</span>
  </a>
  <div class="langues-navbar2" role="menu">
    <a href="{{page.url}}" >
      {{page.lang}}
    </a>
    <div class="langues-navbar2"></div>
    <a href="{{alt_url}}">
      {{alt_lang}}
    </a>
  </div>
</div>
{% endif %}