{%- comment -%} 
  output nothing when no alt page is available.
  Relies on default layout assigning the "alt" variable
  Could use a plugin like on holusion.com
{%- endcomment -%}

{% if  alt %}
<div class="dropdown {{include.type}}" >
  <a href="#" class="dropdown-toggle {{include.classes}}" data-target="#lang-dropdown" aria-haspopup="true" role="button" aria-expanded="false">
    {{page.lang}}
    <span class="caret"></span>
    <span class="hidden">(change language)</span>
  </a>
  <div role="menu" class="collapse dropdown-popup dropdown-menu" id="lang-dropdown">
    <a class="dropdown-item" href="{{page.url}}" >
      {{page.lang}}
    </a>

    <a class="dropdown-item" href="{{alt_url}}">
      {{alt_lang}}
    </a>
  </div>
</div>
{% endif %}