
//Colors
$backgroundColor: #ececec;
$bodyColor: #000000;
$bodyFont: 'Open Sans',Roboto,sans-serif;
$serifFont: 'Noto Serif', serif;
$darkgrey:#272727;
$middlegrey:#444444;
$middlegrey-shadow:rgba(68, 68, 68, 20%);
$yellow:#E6B900;
$yellow2:rgba(230, 185, 0, 70%);
$yellow3:rgba(230, 185, 0, 30%);
$orange:#EB5806;
$rose: #e4197e;

// Sizes
$sidebar_width: 250px;
$header_height: 150px;
$navbar_height: 50px;
$footer_height: 30px;