
@import "./variables";
@import "./highlight";
@import "./table";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $backgroundColor;
  &:has(.doc-page){
    background-color: $darkgrey;
  }
  color: $bodyColor;
  font-family: $bodyFont;
  width: 100%;
  margin:0px;
  padding: 0px;
  display: grid;
  grid-template-rows: $header_height auto auto $footer_height;
  grid-template-columns: 1fr minmax(auto, 300px) min($main_width, 100vw - 20px) minmax(auto, 300px) 1fr;

  grid-template-areas:
    'header header header header header'
    'navbar navbar navbar navbar navbar'
    '. nav-left main nav-right .'
    'footer footer footer footer footer';
  ;


}


main {
  grid-area: main;
  background-color: white;
  padding: 0 3rem 3rem 3rem;
  box-shadow: 5px 0px 10px $middlegrey-shadow, -5px 0px 10px $middlegrey-shadow;

  @media screen and (max-width: #{$main_width} ){
    padding: 0 1rem 3rem 1rem;
  }

  h1, h2, h3, h4, h5, h6, [role="doc-noteref"] {
    scroll-margin-top: calc($navbar_height + 0.8rem);
  }
  
  &, section, .section{
    >img:not(.fluid), >.media:not(.fluid), .flush {
      margin: 0 -3rem;
      width: calc(100% + 6rem);
      overflow-clip-margin:inherit;
      @media screen and (max-width: #{$main_width} ){
        margin: 0 -1rem;
        width: calc(100% + 2rem);
      }
    }
  }
  
  section, .section{
    margin: 1.5rem 0;
  }
}

img.fluid{
  display: block;
  max-width: 100%;
  height: auto;
}


//////////////////////////////
/// NAVIGATION
//////////////////////////////



.navbar-header{
  grid-area: header;
  overflow: hidden;
  background-color: $darkgrey;
  margin: 0;
  width: 100%;
  height: $header_height;
  display: grid;
  grid-template-columns: [brand] minmax(230px, 1fr) [header] auto 1fr;
  align-items: center;
  
  .img-header {
    grid-column: header / span 1;
    height: 100%;
    object-fit: cover;
    object-position: 0% 30%;
    overflow: hidden;
    display: block;
    flex-grow: 1;
    max-width: 1200px;
  }

  .header-brand{
    grid-column: brand / span 1;
    color: $yellow;
    text-decoration: none;
    font-family: $serifFont;
    font-weight: 400;
    font-size: 3rem;
    padding-left: 40px;
  }
}


nav.navbar{
  grid-area: navbar;
  width: 100%;
  margin: 0;
  padding: 1px 0;
  box-sizing: border-box;

  background-color: $middlegrey;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  &#navbar-top{
    padding-left: 2em;
    box-shadow: 0 2px 2px 0px $middlegrey;
    @media screen and  (max-width: calc($main_width - 1px) ){
      padding-left:5px;
    }
  }

  &.navbar-sticky{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
  }

  .nav-group, ul{
    margin: 0;
    padding: 0;
    > .nav-item, >li{
      margin : 0;
      list-style : none;
      display : inline-block;
      
    }
    
    @media screen and  (max-width: calc($main_width - 1px) ){
      > .nav-item, >li{
        display: none;
      }
      &.show{
        > .nav-item, > li{
          display: list-item;
        }
      }
    }
  }

  a, .nav-link{
    color: white;
    line-height: 1em;
    padding : 1em 2em 1em 0;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    &:hover, &[aria-expanded="true"]{
      color: $yellow;
    }
    // &:first-of-type{
    //   font-weight: 600;
    // }
  }

  .menu-btn{
    height: calc($navbar_height - 2px);
    box-sizing: border-box;
    background-color: transparent;
    &::after{
      content: "☰";
    }
    &[aria-expanded="true"]::after{
      content: "✖";
    }
    &:hover{
      color: $yellow;
    }
  }
}

.navbar-nav{
  display: flex;
  flex-direction: row;
}

ul{
  padding-inline-start: 40px;
  padding-inline-end: 0;
}


.larg100{
  width: 100%;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.retrait{
  margin-left: 0px;
}
.retrait li{
  margin-bottom: 1rem;
}

footer {
  grid-area: footer;
  height: $footer_height;
  background-color: $darkgrey;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

footer a {
  color: white;
  font-weight: bold;
}

footer a:hover {
  color: $yellow;
}

.alignement-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.langues-navbar2{
  display: flex;
  flex-direction: row;
  padding: 0 40px 0 0;
}
.langues-navbar2 a{
  padding: 0 0 0 10px;
}




.nav-doc {
  max-width: $sidebar_width;
  background-color: $darkgrey;
  height: fit-content;
  // overflow: hidden;

  &.nav-left{
    grid-area: nav-left;
    position: relative;
    padding: 0;


    .navbar-toggle{
      display: none;
      background: $yellow;
      border-radius: 4px;
      color: $darkgrey;
      fill: currentColor;
      padding: 4px;
    }

    @media screen and (max-width: #{$sidebar_width + $main_width} ){
      grid-area: main;
      width: 0;
      margin: .5rem;
      transition: width 0.35s linear;
      padding: 0.7rem 0 1rem 0;

      &.show{
        width: 300px;
        // padding-right: 24px;
      }
      .navbar-toggle{
        display: block;
        position: absolute;
        top: 0;
        right: calc(-24px - .5rem);
        transition: position 0.35s linear;
        &[aria-expanded="true"]{
          top: .5rem;
          right: .5rem;
          left: auto;
        }
      }
      ul{
        width:100%;
        overflow: hidden;
      }
    }

  }
  &.nav-right{
    grid-area: nav-right;

    @media screen and (max-width: #{$sidebar_width * 2 + $main_width} ){
      display: none;
    }
  }


  ul{
    // padding: 1rem 1rem 1rem 0;
    padding: 0;

    @media screen and (max-width: #{$main_width} ){
      // padding: 1rem 0 0.7rem 0;
    }

    li, li a{
      // min-width: 240px;
      width: 100%;
      // max-width: calc(300px - 1.1rem);
      color: white;
      padding: 0.1rem 0rem 0.1rem 1rem;
      margin-top: 0.3rem;
      overflow: hidden;
      @media screen and (max-width: #{$main_width} ){
        padding: 0.1rem 0rem 0.1rem 1rem;
        max-width: 100%;
      }
      ul > li {
        // padding-bottom: 2rem;
      }
    }
  }
}
// .trait-vertical{
//   border-left: 1px white solid;
// }

// #doc-nav-left{
//   @media screen and (max-width: #{$main_width} ){
//     padding: 0.7rem 0 1rem 0;
//   }
// }

//////////////////////////////
/// TITLES
//////////////////////////////
h1, h2, h3, h4, h5, h6 {
  color: $bodyColor;
}

h1 {
  font-family: $serifFont;
  font-weight: 400;
  font-size: 3rem;
  border-bottom: 0.6rem solid $yellow;
  text-align: center;
}

h2{
  font-weight: 700;
  font-size: 2rem;
  display: inline-block;
  padding: 1.5rem 0.2rem 0 1.5rem;
  margin: 20px 0 0.4rem 0;
  border-bottom: 0.6rem solid $yellow;
}

h3{
  font-family: $serifFont;
  font-size: 1.3rem;
  border-left: 0.7rem solid $yellow;
  padding: 0.5rem 0 0 0.8rem;
  display: flex;
  justify-content: start;
}

h4{
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem 0;
  text-decoration: underline $yellow 2px;
}

h5{
  font-size: 1rem;
  text-decoration: underline #E6B900 1px;
  margin: 0.5rem;
  + p{
    margin: 0 0.5rem;
  }
}



//////////////////////////////
/// TEXT
//////////////////////////////
main{
  .text-dark{
    color: $bodyColor;
  }
  
  .text-light{
    color: $backgroundColor;
  }
  
  .text-yellow{
    color: $yellow;
  }
  
  p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0.2rem 0;
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: $bodyFont;
    color: $bodyColor;
  }
  
  a{
    font-weight: bold;
    color: $darkgrey;
    text-decoration: underline;
    &:hover{
      color: $bodyColor;
      background-color: $yellow2;
    }
  }
  
  .align-right{
  text-align: end;
  padding-top: 0.5rem;
  margin-right: 3rem;
  } 
  li{
    line-height: 1.4rem;
  } 
}



//////////////////////////////
/// COLLAPSE / DROPDOWNS
//////////////////////////////

.hidden, .show-small{
  //faire un truc pr visualiseur d'ecran
  display: none;
}

@media screen and (min-width: #{$main_width} ){
  .hidden-large{
    display: none;
  }
}
@media screen and (max-width: #{$main_width + 1} ){
  .hidden-small{
    display: none;
  }
}
.collapse:not(.show){
  display: none;
}

.dropdown{
  position: relative;

  .dropdown-popup{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
    min-width: 60px;
  }
  .dropdown-menu {
    background: $middlegrey;
    border-radius: 6px;
    padding: 6px 0;
    
    .dropdown-item{
      display: block;
      width: 100%;
      padding: 4px 10px;
      clear: both;
      font-weight: 400;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: rgba(0,0,0,0);
      border: 0;
    }
  }
}


.dropdown-toggle{
  cursor: pointer;

  &::before{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid rgba(0,0,0,0);
    border-bottom: 0;
    border-left: 0.3em solid rgba(0,0,0,0);
    transition: border 0.35s ease;
  }
  &[aria-expanded="true"]::before{
    border-top: 0;
    border-right: 0.3em solid rgba(0,0,0,0);
    border-bottom: 0.3em solid;
    border-left: 0.3em solid rgba(0,0,0,0);
  }
}


//////////////////////////////
/// EMBEDS
//////////////////////////////
.youtube-video {
  cursor: pointer;
  position: relative;
  &:before{
    background-color: #000;
    position: relative;
    overflow: hidden;
  }
  .play-button {
    &:before {
      content: "";
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      position: absolute;
      border-style: solid;
      border-width: 15px 0 15px 26px;
      border-color: transparent transparent transparent #fff;
    }
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgb(0 0 0 / 60%);
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px;
    transition: transform .3s ease-in-out;
  }

  &:hover .play-button{
    background-color: #f00;
    transform: scale(1.1);
  }
}

.media{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  iframe, object, video, img{
    display:block;
    max-width:100%;
    border: 0;
  }

  &.ratio{
    &::before {
      display: block;
      content: "";
    }
    &.ratio-16x9::before{
      padding-bottom: 56.25%;
    }
    &.ratio-9x16::before{
      padding-bottom: 177.8%;
    }
    &.ratio-4x3::before{
      padding-bottom: 75%;
    }
    &.ratio-3x4::before{
      padding-bottom: 133.3%;
    }
    iframe, object, video, img{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


}

//////////////////////////////
/// DOCUMENTATION LAYOUT
//////////////////////////////



blockquote{
  margin: 0.5rem;
  padding: 0 3rem;
  max-width: inherit;
  @media screen and (max-width: #{$main_width} ){
    padding: 0 2rem;
  }
  @media screen and (max-width: 500px){
    padding: 0;
  }
}

blockquote > p {
  font-weight: 600;
  background-color: $yellow3;
  box-shadow: inset  0.4rem 0rem 0px $yellow;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

p > code{
  margin: 0 0.2rem;
}


// @ TODO rework everything up to the end of this section
svg{
  vertical-align: middle;
}


pre{
  overflow: auto;
  > code > span {
    background-color: transparent;
  }
}



figcaption{
  font-style: italic;
}
li > code {
  margin: 0 0.2rem;
}




//////////////////////////////
/// UI ELEMENTS
//////////////////////////////

.big-intro-doc{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin: 0rem 3rem 0.3rem 3rem;
  @media screen and (max-width: #{$main_width} ){
    margin: 0rem 0 0.3rem 0;
  }
}
.big-title-doc{
  padding: 1.5rem 0.2rem 0 0.2rem;
}

button, .button{
  padding: 0.5rem 1rem;
  background-color: $darkgrey;
  border-width: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  &:hover{
    background-color: $yellow;
    color: black;
  }
}
.center-button{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  &.versionEN{
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
  }
  &.versionEN2{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

.voyager-btn {
  display: inline-block;
  text-align: center;
  padding: 0.4rem;
  min-width: 140px;
  background-color: #c4c4c4;
  > svg{
    height: 24px;
  }
}

div > ul > li:has(> .voyager-btn:first-child){
  margin: 0.7rem 0;
  list-style: none;
}

.logo-grid{
  display: grid;
  grid-template-columns: repeat(3, 145px);
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: #{$main_width} ){
    grid-template-columns: repeat(3, 90px);
  }

}
.logo-grid > img{
  min-width: 90px;
  margin: auto;
  @media screen and (max-width: #{$main_width} ){
    max-width: 90px;
  }
}


//////////////////////////////
/// LISTS
//////////////////////////////
.list-group {
  display: flex;
  flex-direction: column;
  border-left: 1px white solid;
  width: 300px;
  &.collapse {
    display: none;
    border-left: none;
    &.show {
      display: flex;
    }
  }
  @media screen and (max-width: #{$sidebar_width * 2 + $main_width}){
    border-left: none;
  }

  .list-group-item {
    .dropdown-toggle {
      width: 100%;
    }
    &.current:not(:has(.list-group)) {
      background-color: $yellow;
      a {
        color: #000;
        font-weight: 500;
      }
    }
  }
}
// .list-group2{
//   display: flex;
//   flex-direction: column;
//   padding: 0;
// }

//////////////////////////////
/// POSTS
//////////////////////////////
.post-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem 0;
}
.post-card{
  padding: 0.5rem 1.5rem 0 3rem;
  display: block;
  border-bottom: 1px solid $middlegrey;
  .post-title{
    padding: 0.5rem 0 0 1.5rem;
    margin: 0 0 0 -1.5rem;
  }
  .post-excerpt{
    text-indent: 3em;
  }
  .post-meta{
    display: flex;
    justify-content: flex-end;
    color: $middlegrey;
    font-style: italic;
  }
  .post-action{
    display: flex;
    justify-content: flex-end;
    padding-bottom: .25rem;
  }
}

.post-body{
  .footnotes{
    margin-top: 1rem;
    border-top: 1px solid $middlegrey;
    &::before{
      content: "footnotes";
      color: $middlegrey;
      text-align: right;
    }
  }
}
