$backgroundColor: #ececec;
$bodyColor: #000000;
$bodyFont: 'Open Sans',Roboto,sans-serif;
$serifFont: 'Noto Serif', serif;
$sidebar_width: 250px;
$darkgrey:#272727;
$middlegrey:#444444;
$middlegrey-shadow:rgba(68, 68, 68, 20%);
$yellow:#E6B900;
$yellow2:rgba(230, 185, 0, 70%);
$orange:#EB5806;

body {
  background: $backgroundColor;
  &:has(.mep-doc){
    background-color: $darkgrey;
  }
  color: $bodyColor;
  font-family: $bodyFont;
  // height: 100vh;
  width: 100%;
  margin:0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

nav{
  // position: absolute;
  width: 100%;
  // width: 100%;
  // top: 0;
}

.navbar-header{
  background-color: $darkgrey;
  margin: 0;
  height: 110px;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar{
  background-color: $middlegrey;
  // margin: 0;
  height: 30px;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &.navbar-sticky{
    position: sticky;
    top: 0px;
  }

  a{
    color: white;
  }

  a:hover{
    color: $yellow;
  }
}

ul{
  padding-inline-start: 0;
}

nav li{
  margin : 0;
  padding : 0 30px 0 0;
  list-style : none;
  display : inline-block;
}

a{
  text-decoration: none;
}

.larg100{
  width: 100%;
}
.fer-gauche{
  margin: 1.5rem 3rem;
}

.retrait{
  margin-left: 40px;
}
.retrait li{
  margin-bottom: 1rem;
}

footer {
  height: 30px;
  background-color: $darkgrey;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}
footer a {
  color: white;
  font-weight: bold;
}
footer a:hover {
  color: $yellow;
}
.alignement-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

// main {
//   min-height: calc(100vh - 3rem);
//   padding: 4rem 1rem 1rem 1rem;
//   > section, > .section{
//     margin: 0 -1rem 0 -1rem;
//     &:first-child{
//       margin-top: -1rem;
//     }
//   }
// }
main {
  width:700px;
  min-width: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 200px 0 0 0;
  box-shadow: 5px 0px 10px $middlegrey-shadow, -5px 0px 10px $middlegrey-shadow;
}

main img{
max-width: 100%;
}

h1 {
  font-family: $serifFont;
  font-weight: 400;
  font-size: 3rem;
}

a h1{
  color: $yellow;
}

h2{
  font-family: $bodyFont;
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  margin: 20px 0;
  padding: 0 0.2rem 0 1.5rem;
}
.ligne-jaune-h2{
  margin-bottom: 1rem;
  box-shadow: inset  0rem -0.6rem 0px $yellow;
  display: flex;
  justify-content: start;
  display: inline-block;
}

h3{
  font-family: $serifFont;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.3rem;
  padding: 0.5rem 0 0 1.5rem;
}
.ligne-jaune-h3{
  margin-bottom: 1rem;
  box-shadow: inset 0.7rem 0px 0px $yellow;
  display: flex;
  justify-content: start;
}

h4{
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem 0;
  text-decoration: underline $yellow 2px;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 0.3rem;
}
p a{
  font-weight: bold;
  color: $darkgrey;
  text-decoration: underline;
}
p a:hover{
  color: $bodyColor;
  // color: $middlegrey;
  // color: $yellow;
  // background-color: $darkgrey;
  background-color: $yellow2;
}
.align-right{
text-align: end;
padding-top: 0.5rem;
}


.hidden{
  //faire un truc pr visualiseur d'ecran
  display: none;
}

.collapse:not(.show){
  display: none;
}

.dropdown-toggle{
  cursor: pointer;

  &::before{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid rgba(0,0,0,0);
    border-bottom: 0;
    border-left: 0.3em solid rgba(0,0,0,0);
    transition: border 0.35s ease;
  }
  &[aria-expanded="true"]::before{
    border-top: 0;
    border-right: 0.3em solid rgba(0,0,0,0);
    border-bottom: 0.3em solid;
    border-left: 0.3em solid rgba(0,0,0,0);
  }
}

.langues-navbar2{
  display: flex;
  flex-direction: row;
  padding: 0 0 0 10px;
}



.mep-doc {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.nav-doc {
  // min-width: fit-content;
  max-width: 300px;
  background-color: $darkgrey;
  // background-color: rgba(0, 110, 255, 0.3);
  height: fit-content;
  padding: 1rem 1rem 1rem 0;
}

.trait-vertical{
  border-left: 1px white solid;
}

// .nav-doc ul{
//   margin-block-start: 0;
//   margin-block-end: 0;
// }
.nav-doc ul li, .nav-doc ul li a{
  // width: fit-content;
  width: 100%;
  // max-width: max-content;
  // max-width: fit-content;
  padding-right: 0;
  color: white;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  margin-top: 0.3rem;
}
// .nav-doc > ul > a:hover{
//   background-color: $yellow;
// }
.nav-doc > div > ul > li{
  font-family: $serifFont;
  padding: 0 0 1.5rem 0;
  font-size: 1.2rem;
}
.nav-doc > div > ul > li:last-child{
  padding: 0 0 0 0;
}

.nav-doc > div > ul > li > ul{
  font-family: $bodyFont;
  font-size: 1rem;
  // padding-top: 0.5rem;
}
// .nav-doc > div > ul > li > ul> li{
//   margin-top: 0.5rem;
//   width: 100%;
//   // max-width: fit-content;
// background-color: #f00;
// }
.nav-doc > div > ul > li > ul> li > a{
  margin-top: 0.5rem;
  width: 100%;
  // max-width: fit-content;
}
.nav-doc > div > ul > li > ul> li:hover, .nav-doc > div > ul > li:hover:first-of-type{ 
background-color: rgb(21, 255, 0);
}
.nav-doc > div > ul > li > ul> li > ul > li:hover{
  // margin-top: 0.5rem;
  width: 100%;
  // max-width: fit-content;
background-color: rgb(0, 132, 255);
}

.nav-doc > div > ul > li > ul> li:hover{
  // background-color: $yellow;

}

.list-group {
  display: flex;
  flex-direction: column;

  &.collapse{
    display: none;
    &.show{
      display: flex;
    }
  }

  .list-group-item{
    .dropdown-toggle{
      width:100%;
    }
    &.current:not(:has(.list-group)){
      background-color: $yellow;
    }
  }
}



.big-intro-doc{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin: 0rem 3rem 0.3rem 3rem;
}




.youtube-video {
  cursor: pointer;
  &:before{
    background-color: #000;
    position: relative;
    overflow: hidden;
  }
  .play-button {
    &:before {
      content: "";
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      position: absolute;
      border-style: solid;
      border-width: 15px 0 15px 26px;
      border-color: transparent transparent transparent #fff;
    }
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgb(0 0 0 / 60%);
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    margin: -45px;
    transition: transform .3s ease-in-out;
  }
  &:hover .play-button{
    background-color: #f00;
    transform: scale(1.1);
  }
}