$backgroundColor: #ececec;
$bodyColor: #000000;
$bodyFont: 'Open Sans',Roboto,sans-serif;
$serifFont: 'Noto Serif', serif;
$sidebar_width: 250px;
$darkgrey:#272727;
$middlegrey:#444444;
$yellow:#E6B900;
$orange:#EB5806;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  height: 100vh;
  margin:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  position: fixed;
  width: 100vw;
  // width: 100%;
  // top: 0;
}

ul{
  padding-inline-start: 0;
}

li{
  margin : 0;
  padding : 0 30px 0 0;
  list-style : none;
  display : inline-block;
}

a{
  text-decoration: none;
}

footer {
  height: 45px;
  
  // position: fixed;
  // bottom:0;
}

// main {
//   min-height: calc(100vh - 3rem);
//   padding: 4rem 1rem 1rem 1rem;
//   > section, > .section{
//     margin: 0 -1rem 0 -1rem;
//     &:first-child{
//       margin-top: -1rem;
//     }
//   }
// }
main {
  width:700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px 0 0 0;
}
main img{
max-width: 100%;
}

h1 {
  font-family: $serifFont;
  font-weight: 400;
  font-size: 3rem;
}

a h1{
  color: $yellow;
}

h2{
  font-family: $bodyFont;
  font-weight: 600;
  font-size: 2rem;
}

.navbar2 a{
  color: white;
}
.hidden{
  //faire un truc pr visualiseur d'ecran
  display: none;
}
.navbar1{
  background-color: $darkgrey;
  margin: 0;
  height: 110px;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar2{
  background-color: $middlegrey;
  margin: 0;
  padding: 0;
  height: 30px;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.langues-navbar2{
  display: flex;
  flex-direction: row;
  padding: 0 0 0 10px;
}





.youtube-video {
  cursor: pointer;
  &:before{
    background-color: #000;
    position: relative;
    overflow: hidden;
  }
  .play-button {
    &:before {
      content: "";
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      position: absolute;
      border-style: solid;
      border-width: 15px 0 15px 26px;
      border-color: transparent transparent transparent #fff;
    }
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgb(0 0 0 / 60%);
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    margin: -45px;
    transition: transform .3s ease-in-out;
  }
  &:hover .play-button{
    background-color: #f00;
    transform: scale(1.1);
  }
}