
.operation-title{
  border: none;
  padding-left: 0;
  .method{
    margin-right: 1ch;
  }
}

.method{
  /* method name block with a distinctive style */
  font-weight: bold;
  box-sizing: border-box;
  width: 10ch; /* length of PROPFIND */
  background-color: #888;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 0; 
  @media screen and (max-width: 1400px ){
    @at-root .navbar & {
      /* enforce more compact layout on medium screens */
      font-stretch: condensed;
    }
  }
  &.get{
    background-color: #2f8132;
  }
  &.post{
    background-color: #186faf;
  }
  &.put{
    background-color: #FD7E14;
  }
  &.delete{
    background-color: #dc3545;
  }
  &.patch{
    background-color: #ffc107;
  }
  &.mkcol{
    background-color: #38b3f9;
  }
  &.propfind{
    background-color: #28a745;
  }
  &.copy, &.move{
    background-color: #6f42c1;
  }
}

.group-table{
  width: 100%;
  border-collapse: collapse;
  display: table;
}

.operation-body{
  position: relative;
  .body-required{
    display: block;
    position: absolute;
    top:0;
    right:0;
    background-color: #dc3545;
    color: white;
    border-radius: 1rem;
    padding: .5rem 1rem;
  }
}

.response{
  display:flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 1px solid #444444;
  .response-contents{
    flex-grow: 1;
    max-width: 100%;
  }
  .response-code{
    display:block;
    width: 4ch;
    font-weight: bold;
    &.http-2xx{
      color:  #28a745;
    }
    &.http-3xx{
      color: #6f42c1;
    }
    &.http-4xx{
      color: #FD7E14;
    }
    &.http-5xx{
      color: #dc3545;
    }
  }
}

@media screen and (max-width: 1200px) {
  .response{
    flex-direction: column;
  }
}

.nav-right{
  .method{
    text-transform: uppercase;
    font-weight: bold;
  }
  .tag-name{
    font-weight: bold;
    font-size: 120%;
    color: #E6B900;
  }
}