
<div style="flex-grow: 1;">
  <h2>{{i18n "titles.myGroups"}}</h2>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: .5rem;justify-content:center;">
    {{#each groups}}
      <a class="btn" style="overflow: hidden; text-overflow:ellipsis" href="/ui/groups/{{encodeURIComponent groupName}}">
        {{groupName}}
      </a>
    {{/each}}
    {{#unless groups.length }}
      <p>{{i18n "leads.noGroups"}}</p>
    {{/unless}}
</div>