
<footer>
  <div style="margin:auto">
    <a href="https://ecorpus.eu">{{i18n "nav.documentation"}}</a>
    |
    Holusion © <a href="https://github.com/Holusion/e-thesaurus/blob/main/LICENSE.md">{{i18n "nav.license"}}</a>
    |
    <a href="mailto:contact@holusion.com">{{i18n "nav.reportBug"}}</a>
  </div>
  <change-locale style="margin:auto 4px" lang="{{lang}}"></change-locale>
</footer>
<notification-stack></notification-stack>