---
title: "Galerie"
layout: page
---

<section class="section">
    <h2 class="text-white my-5" style="font-size: 3rem">Collections</h2>
</section>
<section class="section" id="eThesaurus">
    <h2>
        <a href="/fr/collections/ethesaurus/index.html">Pièces d'orfévrerie médiévale</a>
    </h2>
    <p>Collection de pièces majeures d'orfévrerie médiévale mosanes assemblée dans le cadre du consortium <a href="/fr/about">eThesaurus</a> en 2015.</p>
    <div class="tile-carousel">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "ethesaurus" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="tile-item">
                <img  src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
            </a>
        {% endfor %}
    </div>
</div>
</section>

<section class="section" id="IRHiS">
    <h2><a href="/fr/collections/IRHiS/index.html">
        Œuvres numérisées du Palais des Beaux-Arts de Lille
    </a></h2>
    <p>Collection assemblée par le laboratoire <a href="/fr/about">IRHiS</a> (Institut de Recherches historiques du Septentrion, Université de Lille) à partir des oeuvres du Palais des Beaux-Arts de Lille.</p>
    <p>Ces objets ont été numérisés par des étudiants du Master Histoire des Arts à l'IRHiS, afin de leur faire découvrir la photogrammétrie et le logiciel Scaniverse.</p>
    <div class="tile-carousel">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "IRHiS" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="tile-item">
                <img src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
            </a>
        {% endfor %}
    </div>
</div>
</section>

<section class="section" id="NotreDamedeParis">
    <h2><a href="/fr/collections/notredamedeparis/index.html">
        Elèments numérisés de Notre-Dame de Paris
    </a></h2>
    <p>Collection assemblée dans le cadre des travaux de restauration 2018 et de l'exposition <a href="/fr/2024/05/06/suad.html">Notre-Dame de Paris</a> à la Sorbonne Université Abu Dhabi en 2024.</p>
    <p>Les numérisations ont été réalisées par Plémo 3D.</p>
    <div class="tile-carousel">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "notredamedeparis" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="tile-item">
                <img src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
            </a>
        {% endfor %}
    </div>
</div>
</section>

<section class="section" id="NotreDameEnVaux">
    <h2><a href="/fr/collections/notredameenvaux/index.html">
        Elèments numérisés du musée du cloitre de Notre-Dame en Vaux
    </a></h2>
    <p>Collection assemblée pour le <a href="../2025/04/05/collectionchalons.html">musée du Cloître de Notre Dame en Vaux</a> à Châlons en Champagne pour sa réouverture de 2025.</p>
    <p>Les numérisations ont été réalisées par Digitage, tandis que les reconstitutions des oeuvres lacunaires ont été assurées par <a href="https://holusion.com">Holusion</a>.</p>
    <div class="tile-carousel">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "notredameenvaux" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="tile-item">
                <img src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
            </a>
        {% endfor %}
    </div>
</div>
</section>

<section class="section" id="Medicis">
    <h2><a href="/fr/collections/medicis/index.html">
        Chef-d'oeuvres des lycées des Hauts-de-France pour la Résidence Pro 2026 à la Villa Médicis
    </a></h2>
    <p>Collection des réalisation des 9 établissements participants et des compagnons du devoir dans le cadre d'un projet Erasmus+ impliquant 250 élèves et 50 accompagnateurs.</p>
    <p>Les numérisations ont été faites, pour la majeure partie, par des étudiants via le logiciel Scaniverse. A l'exception des modèles de ferroneries d'art, trop complexes pour un étudiant, dont la numérisation a été assurée par <a href="https://holusion.com">Holusion</a> en photogrammétrie.</p>
    <div class="tile-carousel">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "medicis" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="tile-item">
                <img src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
            </a>
        {% endfor %}
    </div>
</div>
</section>

<section class="section" id="inraphdf">
    <h2><a href="/fr/collections/inrapHDF/index.html">
        INRAP des Hauts-de-France
    </a></h2>
    <p>Collection d'objets d'archéologie mis au jour par l'INRAP Hauts-de-France</p>
    <p>Une partie de ces objets ont été selectionnée pour une exposition lors d'un évènement à Dunkerque en 2026. Ils ont été numérisés la même année par l'équipe de <a href="https://holusion.com">Holusion</a>.</p>
    <div class="tile-carousel">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "inrap" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="tile-item">
                <img src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
            </a>
        {% endfor %}
    </div>
</div>
</section>

<section class="section" id="ipousteguy">
    <h2><a href="/fr/collections/ipousteguy/index.html">
        Centre Culturel Ipoustéguy
    </a></h2>
    <p>Collection d'œuvres de Jean Robert Ipoustéguy conservées au Centre Culturel de Dulcon.</p>
    <div class="tile-carousel">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "ipousteguy" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="tile-item">
                <img src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
            </a>
        {% endfor %}
    </div>
</div>
</section>

<section class="section" id="MAN">
    <h2><a href="/fr/collections/MAN/index.html">
        Musée d'Archéologie Nationale
    </a></h2>
    <p>Objets numérisés du Musée d'Archéologie Nationale (Saint-Germain-en-Laye), issus de la collection « Histoire de l'archéologie ».</p>
    <div class="tile-carousel">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "MAN" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="tile-item">
                <img src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
            </a>
        {% endfor %}
    </div>
</div>
</section>
