---
title: "Galerie"
layout: page
---


<section class="section">
    <h2 class="text-white my-5" style="font-size: 3rem">Collections</h2>
</section>
<section class="section" id="eThesaurus">
    <h2>
        Pièces d’orfèvrerie médiévale.
    </h2>
    <p>Collection assemblée dans le cadre du consortium <a href="/fr/about">eThesaurus</a>.</p>
    <div style="display:flex; flex-direction: column;gap: 5px;">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "ethesaurus" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="list-group-item" style="display: flex;">
                <img style="aspect-ratio:1; flex: 0 0 128px; height: 128px;" src="https://ecorpus.holusion.com/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
                <div style="padding-left: 5px;">
                    <h4>{{ p.title }}</h4>
                    <p>{{ p.abstract }}</p> 
                </div>
            </a>
        {% endfor %}
    </div>
</div>
</section>

<section class="section" id="NotreDamedeParis">
    <h2>
        Décors numérisés de Notre-Dame de Paris
    </h2>
    <p>Collection assemblée dans le cadre de l'exposition <a href="/fr/2024/05/06/suad.html">Notre-Dame de Paris</a> à la Sorbonne Université Abu Dhabi.</p>
    <div style="display:flex; flex-direction: column;gap: 5px;">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "notredamedeparis" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="list-group-item" style="display: flex;">
                <img style="aspect-ratio:1; flex: 0 0 128px; height: 128px;" src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
                <div style="padding-left: 5px;">
                    <h4>{{ p.title }}</h4>
                    <p>{{ p.abstract }}</p> 
                </div>
            </a>
        {% endfor %}
    </div>
</div>
</section>