<div class="landing-page">
    <div class="illustration">
        <img src="/dist/images/sketch_ethesaurus.png" alt="dessin représentant l'application voyager et son utilisation dans une borne holographique"/>
        <p id="app-lead">{{ i18n "lead.appLead" }}</p>
        <p style="text-align:right">
            <a href="/ui/standalone/?lang={{lang}}">{{ i18n "useStandalone" }}</a>
        </p>
    </div>
    
    <div class="user-login">
        <h2>{{ i18n "nav.login" }}</h2>
        <user-login></user-login>
    </div>
</div>