<h1>{{tag}}</h1>
<div class="grid-content">
  {{#unless scenes.length}}
    <aside class="help-block">
      <ui-icon name="info"></ui-icon>
      <div class="help-block-content">
        <p>{{{i18n "onboarding.tagEmpty.lead"}}}</p>
        <a href="/ui/tags/">{{i18n "onboarding.tagEmpty.link"}} →</a>
      </div>
    </aside>
  {{/unless}}
  <section class="list-grid{{#if embedded}} list-grid-compact{{/if}}">
    {{#each scenes}}
      {{#if @root.embedded}}
        {{> sceneCardCompact }}
      {{else}}
        {{> sceneCard }}
      {{/if}}
    {{/each}}
  </section>
</div>