<h2>{{tag}}</h2>
<div class="section list-grid{{#if embedded}} list-grid-compact{{/if}}">
{{#each scenes}}
  {{#if @root.embedded}}
    {{> sceneCardCompact }}
  {{else}}
    {{> sceneCard }}
  {{/if}}
{{/each}}
</div>