---
title: "Gallery"
layout: page
---
<a href="/en/collections/index.html">Back to Collections page</a>

<section class="section">
    <h2 class="text-white my-5" style="font-size: 3rem">Collection of artworks scanned by IRHiS students</h2>
</section>
<section class="section" id="IRHiS">
    <h2>
        Digitized artworks from the Palais des Beaux-Arts de Lille
    </h2>
    <p>Collection assembled by the <a href="/en/about">IRHiS</a> laboratory (Institut de Recherches historiques du Septentrion, University of Lille).</p>
    <div style="display:flex; flex-direction: column;gap: 5px;">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang or p.collection != "IRHiS" %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="list-group-item" style="display: flex;">
                <img style="aspect-ratio:1; flex: 0 0 128px; height: 128px;" src="{{p.server}}/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
                <div style="padding-left: 5px;">
                    <h4>{{ p.title }}</h4>
                    <p>{{ p.abstract }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
</section>
<a href="/en/collections/index.html">Back to Collections page</a>
