---
title: "eCorpus"
description: Présentation du système de gestion de scènes 3D eCorpus. Découvrez les détails des oeuvres numérisées par le projet eThesaurus pour la valorisation du patrimoine d'orfèvrerie médiévale des 12 et 13e siècles.
---


<h1 id="logo-eCorpus">eCorpus</h1>
<section>
    <div style="display: flex; justify-content: space-evenly;">
        <a class="button button-primary" href="doc/tutorials">En savoir plus</a>
        <a class="button button-primary" href="about">A propos</a>
    </div>
    <div class="baseline">L'outil d'édition 3D libre pour le patrimoine culturel et scientifique</div>
</section>
<section>
    <h3>
        eCorpus : Outil d’édition 3D libre pour les chercheurs et les conservateurs
    </h3>
    <p>
        eCorpus permet de <b>stocker, annoter et partager une collection de modèles 3D</b>. Il utilise <a
            href="https://smithsonian.github.io/dpo-voyager/" target="_blank"><b>DPO-Voyager</a> comme
        visualiseur 3D</b> et éditeur de métadonnées, et est doté entre autres d'un gestionnaire de droits
        utilisateurs
        et d’historique de modifications.
    </p>
    <p>Le développement d'eCorpus a été initié dans le cadre du consortium <a href="about"><b>eThesaurus</b></a>. Le
        projet portait sur la
        numérisation de
        six œuvres d'orfèvrerie médiévale, conservées au musée
        Sandelin à Saint-Omer et au Palais des Beaux-arts de Lille.</p>
    <p>Le développement est assuré conjointement par l'Université de Lille, l'Université de Liège et la société
        Holusion</p>
</section>

<section>
    <div class="section">
        <h3> Conservation, médiation et diffusion des contenus</h3>
    </div>
    {% include voyager.html embed="encensoir" server="https://ecorpus.holusion.com" class="h-100" %}
    <div class="section">
        <p>
            eCorpus permet une diffusion des objets 3D et des métadonnées dans deux conﬁgurations différentes.
        </p>
        <ul class="retrait">
            <li>
                D’une part, <b>l'intégration du visualisateur Voyager dans une page web ou une application</b> permet
                d’aller directement requérir la dernière version de l'objet 3D auprès du serveur en fonction de ses
                droits de
                diffusion. C’est la méthode la plus simple pour la <b>présentation des résultats sur des sites
                    institutionnels, par email ou
                    via des applications mobiles</b>. Les derniers développements en termes de <b>Réalité Augmentée</b>
                permettent de diffuser
                l’objet directement sous ce format à travers les AR Kit d’Apple 8 ou d'Androïd sans avoir besoin de
                passer par
                l’installation d’une application tierce.
            </li>
            <li>
                D'autre part, <b>lorsqu'une connexion à internet n’est pas possible</b> (installations hors-les-murs par
                exemple),
                eCorpus permet de <b>créer des applications fonctionnant avec une base de données locale</b>, exportée
                au
                préalable depuis la plateforme en ligne. Cela permet d’avoir un travail asynchrone et d'ajouter des
                données sans
                connexion internet. Il faut par la suite resynchroniser les données en les exportant.
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="section">
        <h3>Caractéristiques d'eCorpus</h3>
    </div>
    {% include voyager.html server="https://ecorpus.holusion.com" embed="croix-reliquaire" class="h-100 larg100" %}

    <div class="section">
        <h4>Complet</h4>
        <p>
            eCorpus vous permet de <b>lier directement des données à chaque objet 3D</b> par le biais d’annotations
            enrichies : titre, abstract et article pouvant comporter des contenus multimédias (vidéos, images, liens…).
        </p>
        <p>
            Vous pouvez ensuite orchestrer ces données, attenantes à vos objets 3D, pour <b>créer des scénettes animées
                (appelées "Tours")</b>, idéales pour valoriser vos objets 3D dans un cadre de médiation muséale ou
            pédagogique. Il facilite également la <b>recherche collaborative</b> grâce à des outils d'analyse et
            d'export.
        </p>
        <h4>Consultable par navigateur</h4>
        <p>
            Le logiciel eCorpus est <b>entièrement accessible depuis un simple navigateur web</b>. Vous pouvez donc
            aisément vous connecter sur n'importe quelle machine et montrer ou même partager votre catalogue d'objets 3D
            en créant un nouveau compte pour un tiers.
        </p>
        <h4>Ouvert mais sécurisé</h4>
        <p>
            L’architecture de l’application fonctionne grâce au déploiement d’instances indépendantes, <b>les bases de
                données étant compatibles entre elles, mais entièrement séparées</b>.
            La majeure partie des cas d’usages concernent des entités qui possèdent déjà une solution de gestion de
            contenu, les données de eCorpus sont intégrables au sein de celle-ci et recherchables.
        </p>
        <h4>Open source</h4>
        <p>
            Les résultats du développement sont diffusés dans un format Open Source, pour que l’utilisateur soit
            pleinement propriétaire de ses données et de son environnement. De plus, le dynamisme d’un projet Open
            Source est capital dans la réussite d’un projet et sa diffusion. La présence de sa documentation sur une
            plateforme comme <a href="https://github.com/Holusion/eCorpus" target="_blank">GitHub</a> et l’activité
            régulière du
            développement avec une équipe clairement identiﬁée.
        </p>
        <h4>Structure</h4>
        <p>
            Chaque entrée dans la base a une structure de données organisées dans <a
                href="https://smithsonian.github.io/dpo-voyager/document/overview/" target="_blank"><b>un ﬁchier JSON de
                    référence</b></a>, avec des ﬁchiers liés (objet 3D, textures, articles, images, vidéos, etc…)
        </p>
        <p>
            Cette organisation permet <b>une grande ﬂexibilité</b> : les données exportées peuvent être utilisées telles
            qu’elles indépendamment du serveur sur lequel elles sont stockées.
        </p>
        <p>
            Le ﬁchier descriptif des scènes permet <b>la gestion des modèles à multiples niveaux de détails (LOD)</b>
            ainsi que la traduction des différentes métadonnées.
        </p>
        <p>
            Chaque entrée dans la base peut donc être composée d’un assemblage de sous-éléments et chacun de ceux-ci
            peut comporter des modèles en multi-résolution offrant <b>un chargement optimisé de la géométrie par le
                client</b> en
            limitant le chargement de données complexes en fonction de ses besoins.
        </p>
    </div>
</section>

<section>
    <div class="section">
        <h3>Numérisation d'objets</h3>
    </div>
    <img style="object-position: 70% 0;" src="/assets/img/photogrammetryNiveaux.jpg"
        alt="Prise de photogramétrie d'un biface Acheuléen par l'Inrap">
    <div class="section">
        <p>
            Les modèles numériques issus de la <b>photogrammétrie</b> comportent les informations liées à la géométrie
            de l’objet sous la forme d’un maillage ainsi que les informations liées à son aspect visuels tels que décrit
            dans un modèle PBR (Physical Based Rendering) décrivant pour chaque point de l’objet ses propriétés optique
            : couleur, réflexion, spéculaires, rugosité etc…
        </p>
        <p>
            eCorpus est développé au sein d'un ecosystème public-privé de spécialistes de la numérisation du patrimoine,
            formant un centre de compétence sur ces activités. Vous pouvez nous joindre pour acceder à des ressources ou
            des prestations au près de l'Université de Lille, de Liège, d'entreprises privées ou bien de partenaires en
            fonction de vos besoins.
        </p>
        <p>
            eCorpus et les techniques de numérisation sont également enseignées dans le cadre de modules <b>Numérique et
                Patrimoine</b> au sein de plusieurs universités.
        </p>
    </div>
</section>

<!-- <img style="object-position: 70% 0;" src="/assets/img/voyager-scene-tree.jpg"
alt="Node tree contenant les meta data d'un document sur DPO-Voyager"> -->

<section class="section">
    <h3>Les modèles alternatifs</h3>
    <p>
        Ils peuvent être issus de captations autres que photographique par exemple : <b>en lumière non
            visible ou en radioscopie</b> et proposent donc des visualisations différentes du modèle.
    </p>
    <p>
        <b>Ces modèles 3D permettent également de stocker des données liées à leur animation.</b>
        Cette étape de stockage des informations de mouvement est importante pour les simulations de mécanisme comme
        des horloges, ou des démonstrations de montage/démontage complexes.
    </p>
</section>



<section class="section">
    <p>
        Parmi les différents formats d’export pour la médiation, eCorpus supporte la visualisation sur table
        tactile, tablettes mobiles, hologrammes et dispositifs de réalité virtuelle et réalité augmentée.
        Le démonstrateur <a href="./about">eThesaurus</a>, fabriqué
        par Holusion, permet la visualisation d’un export d’une base de données eCorpus.
        L’affichage est séparé sur deux écrans :
    <ul class="retrait">
        <li>
            <b>L’écran transparent est dédié à la visualisation des objets 3D</b>, des animations et des annotations
            concises.
        </li>
        <li>
            <b>La navigation est assurée par un écran secondaire, placé devant le dispositif.</b> Le contrôle
            tactile a été retenu pour
            sa prévalence auprès des publics, habitués à la manipulation de smartphones et de tablettes au
            quotidien. Sur celui-ci,
            l’usager consulte également les informations textuelles et les médias photos et vidéos complémentaires
            inclus dans les articles.
        </li>
    </ul>
    </p>
</section>