---
title: "Gallery"
layout: page
---

<section class="section">
    <h2 class="text-white my-5" style="font-size: 3rem">Gallery</h2>
</section>
<section class="section">
    <h2>
        Medieval goldsmithing pieces.
    </h2>
    <p>Collection gathered from the <a href="/en/about">eThesaurus</a> consortium's works</p>.
    <div style="display:flex; flex-direction: column;gap: 5px;">
        {% for p in site.pages %}
            {%if p.layout != "item" or p.lang != page.lang %}
            {% continue %}
            {% endif %}
            <a href="{{p.url}}" class="list-group-item" style="display: flex;">
                <img style="aspect-ratio:1; flex: 0 0 128px; height: 128px;" src="https://ecorpus.holusion.com/scenes/{{p.scene}}/scene-image-thumb.jpg" alt="{{p.title}}">
                <div style="padding-left: 5px;">
                    <h4>{{ p.title }}</h4>
                    <p>{{ p.abstract }}</p> 
                </div>
            </a>
        {% endfor %}
    </div>
</div>
</section>