
<h1>eCorpus - lien de connexion</h1>
<p>Bonjour <b>{{name}}</b>,</p>
<p>
  Nous venons de recevoir une demande de lien de connexion pour un compte lié à votre adresse.<br>
  Connectez-vous en cliquant sur le bouton ci-dessous:
</p>
<p align="center">
  <a class="btn" href="{{url}}">Connectez-vous</a>
</p>
<p>
  Une fois connecté, n'oubliez pas de réinitialiser votre mot de passe!
</p>
<p>
  Pour des raisons de sécurité, ce lien expirera dans 30 jours. Si le bouton ne fonctionne pas, copiez-collez le lien ci-dessous dans votre navigateur:
</p>
<p>
  <a href="{{url}}">{{url}}</a>
</p>
<p>
  Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.<br>
  Pour rapporter toute erreur, veuillez contacter votre administrateur eCorpus.</a>
</p>
<style>
  .btn{
    color: white;
    background: #E6B900;
    display: block;
    padding: .75rem;
    font-size:large;
    text-decoration: none!important;
  }
</style>