
<h1 style="display: inline-block; padding: 1.5rem 0.2rem 0 1.5rem; border-bottom: 0.6rem solid #E6B900;">eCorpus - connection link</h1>
<p>Hi <b>{{name}}</b>,</p>
<p>Click the link below to connect automatically:</p>

<p style="text-align: center; padding: 1rem;">
  <a style="color: white; background: #E6B900; border-radius: 2px; padding: 1rem 1.5rem; font-size: large; text-decoration: none!important;" href="{{url}}">Login</a>
</p>

<p>This link stays valid for 30 days. If it doesn't work, paste this in your browser address bar:</p>

<p><a href="{{url}}">{{url}}</a></p>

<p>You might want to change your password in user settings to be able to reconnect in the future</p>
<p>Have a great day!</p>


