
<h1 style="display: inline-block; padding: 1.5rem 0.2rem 0 1.5rem; border-bottom: 0.6rem solid #E6B900;">eCorpus - lien de connexion</h1>
<p>Bonjour <b>{{name}}</b>,</p>
<p>
  Nous venons de recevoir une demande de lien de connexion pour un compte lié à votre adresse.<br>
  Connectez-vous en cliquant sur le bouton ci-dessous:
</p>
<p style="text-align: center; padding: 1rem;">
  <a style="color: white; background: #E6B900; border-radius: 2px; padding: 1rem 1.5rem; font-size: large; text-decoration: none!important;" href="{{url}}">Connectez-vous</a>
</p>
<p>
  Une fois connecté, n'oubliez pas de réinitialiser votre mot de passe!
</p>
<p>
  Pour des raisons de sécurité, ce lien expirera dans 30 jours. Si le bouton ne fonctionne pas, copiez-collez le lien ci-dessous dans votre navigateur:
</p>
<p>
  <a href="{{url}}">{{url}}</a>
</p>
<p>
  Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.<br>
  Pour rapporter toute erreur, veuillez contacter votre administrateur eCorpus.</a>
</p>