
<h1>eCorpus - lien de connexion</h1>
<p>Bonjour <b>{{name}}</b>,</p>
<p>
  Nous venons de recevoir une demande de lien de connexion pour un compte lié à votre adresse.<br>
  Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.
</p>
<p>
  Sinon, vous pouvez vous connecter en cliquant sur le bouton ci-dessous.
</p>
<p align="center">
  <a class="btn" href="{{url}}">Connectez-vous</a>
</p>
<p>
  Pour des raisons de sécurité, ce lien expirera dans 30 jours.
</p>
<p>
  Une fois connecté, n'oubliez pas de réinitialiser votre mot de passe!
</p>
<p>
  Pour rapporter toute erreur, vous pouvez nous contacter sur la <a href="https://github.com/Holusion/e-thesaurus">page du projet eThesaurus</a>
</p>
