
<h1>eCorpus - connection link</h1>
<p>Hi <b>{{name}}</b>,</p>
<p>Click the link below to connect automatically:</p>
<p><a href="{{url}}">{{url}}</a></p>
<p>This link stays valid for 30 days</p>
<p>You might want to change your password in user settings to be able to reconnect in the future</p>
<p>Have a great day!</p>
