<h1 style="display: inline-block; padding: 1.5rem 0.2rem 0 1.5rem; border-bottom: 0.6rem solid #E6B900;">{{i18n "titles.testEmail" what=brand }}</h1>

<p>{{{i18n "leads.testEmail" hostname=hostname}}}</p>

<h2 style="border-left: 0.7rem solid #E6B900; padding: 0.5rem 0 0 0.8rem;">{{i18n "titles.testEmailVerify"}}</h2>
<p>{{{i18n "leads.testEmailDKIM"}}}</p>
