---
layout: default
---

<nav id="doc-nav-left" class="navbar nav-doc nav-left">
    <button class="navbar-toggle" type="button" data-target="#doc-nav-left" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <svg width="24" height="24" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m4 4c-1 0-2 0.8-2 2v12c0 1 0.8 2 2 2h16c1 0 2-0.8 2-2v-12c0-1-0.8-2-2-2h-16zm0.2 1h4v14h-4c-0.6 0-1-0.4-1-1v-12c0-0.6 0.4-1 1-1zm5 0h11c0.6 0 1 0.4 1 1v12c0 0.6-0.4 1-1 1h-11v-14zm-5 2c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h3c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-3zm-2e-3 2c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h3c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-3zm0 1c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h3c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-3z"/>
          </svg>
    </button>
    {% howtonav %}
</nav>
<main class="doc-page">
    {{ content }}
</main>
<nav class="navbar nav-doc nav-right">
    {% include toc.html html=content h_max=4 skip_no_ids=true %}
</nav>