---
layout: default
---

<div class="mep-doc">
    <nav class="nav-doc">
        <button class="hidden" type="button" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle navigation">
            <span>Navigation</span>
        </button>
        <div class="trait-vertical" id="sidebar" aria-expanded="false">
            {% docnav %}
        </div>
    </nav>
    <main class="doc-page">
        {{ content }}
    </main>
    <nav class="nav-doc">
        <!-- 2eme partie du menu doc -->
    </nav>
</div>