---
layout: page
---

<section class="section">
    <h2>{{page.title}}</h2>
    <h4>{{page.abstract}}</h4>
</section>

<section class="section">
    
    {% include voyager.html server=page.server embed=page.scene class="h-100 larg100" %}
    
    {%- for prop in page.properties -%}
        <h4>{{ prop[0] }}</h4>
        <p>{{ prop[1] }}</p>
    {%- endfor -%}
</section>

{{ content }}
    
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "3DModel",
        "name": "{{page.scene}}",
        "abstract": "{{page.abstract}}",
        "image": "{{page.server}}/scenes/{{page.scene}}/scene-image-thumb.jpg",
        "encoding":{
            "@type": "MediaObject",
            "contentUrl": "{{page.object}}",
            "encodingFormat": "model/gltf-binary"
        }
    }
</script>