<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <style>
      h1{
        font-size:1.2rem;
        font-weight: bold;
        color: black;
        color: #eee;
        display: inline-block;
        padding: 1.5rem 0.2rem 0 1.5rem;
        margin: 20px 0 0.4rem 0;
        border-bottom: 0.6rem solid #E6B900;
      }

      .btn {
        cursor: pointer;
        color: white !important;
        background-color: #4735df;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 2rem 0.5rem;
        border-radius: 4px;
      }
      .btn:hover, .btn:focus {
        background-color: #5e5e5e;
      }
    </style>

  </head>
  <body>
    {{{body}}}
  </body>
</html>