<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head }}

    <link rel="stylesheet" href="/dist/css/theme.css">
    <link rel="stylesheet" href="/dist/css/corpus.css">
    <style>
      body{
        padding: 0;
      }
      main{
        padding: 0 8px;
      }
    </style>
  </head>
  <body>
  <main>
    {{{body}}}
  </main>
  <script src="/dist/js/corpus.js"></script>
  </body>
</html>