<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head }}
  </head>
  <body class="main-grid">
  {{> navbar }}
  <main>
    {{{body}}}
  </main>
  {{> footer }}
  <script src="/dist/js/corpus.js?ref={{ config.build_ref }}"></script>
  </body>
</html>