<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="#071922">
    <meta property="og:image" content="{{thumb}}">
    <meta property="og:image:width" content="320">
    <meta property="og:image:height" content="320">

    <!-- Apple "add to home screen" meta -->
    <link rel="apple-touch-icon" href="{{thumb}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


    <title>{{title}}</title>

    <link rel="shortcut icon" type="image/png" href="/images/logo-ecorpus.png"/>

    <style>
      body { background: #303030; }
    </style>
    <link rel="stylesheet" href="/css/corpus.css">

  </head>
  <body>
    {{{ body }}}
  </body>
</html>