<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head }}

    <link rel="stylesheet" href="/dist/css/theme.css">
    <link rel="stylesheet" href="/dist/css/corpus.css">

  </head>
  <body class="main-grid">
  {{> navbar }}
  <main>
    {{{body}}}
  </main>
  {{> footer }}
  <script src="/dist/js/corpus.js"></script>
  </body>
</html>