<!DOCTYPE html>
<html{{#if lang}} lang="{{lang}}"{{/if}}>
  <head>
    {{> head }}

    <link rel="stylesheet" href="/dist/css/theme.css">
    <link rel="stylesheet" href="/dist/css/corpus.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>